*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* Design colors Global CSS variables */
:root{
    --cream-white: #FAF8F6;
    --orange: #FFA84E;
    --violet: #CB30E3;
    --cream: #F3EDE7;
    --light-blue: #A060FF;
    --dark-blue: #172339;
    --grey: #49566D;
}

 body{
  display: grid;
  place-items: center;
  font-family: 'Epilogue', sans-serif;
 }

 /* .background for mobile view */
 .background
 {
  width: 430px;
  position: absolute;
  height: 2450px;
  top: 0;
  background-color: var(--cream-white);
  z-index: -1;
 }
  
 /* from figma */
.web-container{
  max-width: 375px;   
  margin: 1.5rem 1rem 0rem 1rem;
  height: 150rem;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* styling the header button */
.header-button{
  padding: 0.75rem 1.03rem 0.75rem 0.97rem;
  font-size: 0.875rem;     
  color: var(--dark-blue);
  letter-spacing: -0.14px;
  line-height: 1.5rem;
  font-weight: 700;
  border-radius: 0.5rem; 
  background-color: var(--cream-white);
}

main{
  margin-top: 3.63rem;
}

.business-mission{
font-size: 2.475rem; 
line-height: 44px;
letter-spacing: -0.528px;
color: var(--dark-blue);
}

.bold-text{
  font-weight: 700;
}

span{
  font-weight: 400;
}

.curved-line-1{
  margin-left: 11.87rem;
  width: 151.47px;
}

.actual-curve{
  width: 100%;
}

.marketing-sales{
font-size: 1.1rem;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.09px;
color: var(--grey);
margin: 2rem auto;
}

/*styling the second button*/
.marketing-button{
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.18px;
  color: var(--cream-white);
  border-radius: 0.5rem;
  background-color: var(--dark-blue);
  padding: 0.94rem 1.94rem 0.88rem 2rem;
}

.hero-image{
  margin: 3.48rem auto;
}
 
.mobile-image-container{
 width: 100%;
 height: auto;
}

.hero-mobile-image{
  width: 100%;
}
  
.tablet-image-container{
 display: none;
}

.desktop-image-container{
 display: none;
}

.business-statistics{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 19.56rem;
  margin: 3.5rem auto;
}

.figures{
  font-size: 3rem;
  font-weight: 700;
  line-height: 56px; 
  color: var(--dark-blue);
  text-align: center;
}

.description{
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.5px;
  color: var(--grey);
  text-transform: uppercase;
}

.comment-section{
margin-top: 15rem;
position: relative;
right: 25px;
background-color: var(--dark-blue);
color: var(--cream-white);
border-radius: 1rem;
width: 114%;
height: 46.75rem;
z-index: 2;
}

.comment-content{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.jeremy-image-container{
  width: 65%;
  position: absolute;
  left: 6rem;
  top: -10.9rem;
  z-index: 2;
}

.pattern-blur{
 margin:  0 auto;
 width: 70%;
 text-align: center;
}

.blur-img{
  position: relative;
  bottom: 10rem;
  right: 4rem;
  opacity: 0.2;
  
}

.line-2{
 width: 15%;
 position:absolute;
 top: 280px;
 left: 180px;
}

.desktop-comment-2{
 text-align: center;
  position: relative;
  top: -200px;   
}

.comment-title{
font-size: 2.5rem;
letter-spacing: -0.42px;
color: var(--cream-white);
margin-top: 2.3rem;
}

.comment-msg{
 margin-bottom: 2rem;
 font-size: 18px;
 font-weight: 400;
 letter-spacing: 0.09px;
 line-height: 35px;
 margin: 2rem auto;
 text-align: center;
 padding: 1rem;
}

.commentator-name{
  margin-bottom: 3rem;
  text-align: center;
  line-height: 32px;
}

.bold-name{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: var(--cream);
  line-height: 32px;
  letter-spacing: -0.18px;
  text-align: center;

}
.address{
  text-transform: uppercase;
  font-weight: 400;
  color: var(--cream);
  font-size: 1rem;
  letter-spacing: 2.5px;
  line-height: 26px;
}

footer{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 padding: 4rem;
 height: 20rem;
 width: 114%;
 position: relative;
 right: 25px;
 top: -10px;
 z-index: 1;
 background-color: var(--cream);
 color: var(--dark-blue);
}

.footer-logo{
  width: 30%;
}

.copy-right{
 text-transform: capitalize;
 color: var(--grey);
 font-weight: 400;
 font-size: 0.94rem;
 line-height: 32px;
 letter-spacing: 0.08px;
}
 
.social-media ul{
  width: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

/* media query for tablet view */
@media screen and (min-width: 700px)
{
  .web-container{
    min-width: 700px;
    margin-bottom: 0;
    height: 124rem;
}
  .header-button{
    padding: 0.75rem 1.53rem 0.75rem 1.47rem;
    font-size: 1rem;
  }
  .tablet{
    display: flex;
    margin: 0 auto;
    align-items: center;
    position: relative;
    bottom: 30px;

  }
  .business-profile{
    height: min-content;
    position: relative;
    top: 4rem;
  }
  .main-header{
    position: absolute;
    width: 31rem;
    top: -8.5rem;
  }

  .curved-line-1{
    margin-left: 17.5rem;
    width: 180px;
  }

  .business-mission{
    font-size: 3.6rem;
    width: 31.8rem;
    margin-bottom: 210px;
    line-height: 64px;
    letter-spacing: -0.78px;

  }

  .marketing-sales{
    width: 20.88rem; 
    margin-right: 174px;
    position: relative;
    bottom: 165px;
  }

  .marketing-button{
    position: relative;
    bottom: 150px;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
     padding: 15px 31px 14px 32px;
  }

  .hero-mobile-image{
    display: none;
  }
  .tablet-image-container{
    display: block;
    width: 10rem;
    position: relative;
    right: 105px;
    z-index: -1;
  }

  .hero-tablet-image{
    height: 482px;
    width: 281px;
  }
  .business-statistics{
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
  }
  
  .comment-section{
    width: 100%;
    position: relative;
    left: 2px;
  }
  
  .jeremy-image-container{
    width: 54%;
    left: 15rem;
  }

  .blur-img{
    opacity: 0.5;
  }

  .line-2{
    margin-left: 150px;
    width: 49.27px;
  }
  .comment-title{
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.42px;
  }

  .comment-msg{
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.09px;
    margin-left: 58px;
    margin-right: 58px;

  }
  footer{
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    height: 720px;
    width: 768px;
    position: relative;
    right: 35px;
    top: -32.8rem;
  }
  .footer-logo{
    width: 85px;
    margin-left: 38px;
    margin-top: 550px;
  }

  .social-media ul{
    margin-right: 31px;
    margin-top: 550px;
  }
  
  .copy-right{
    margin-top: 550px;
  }
 
  .background{
    width: 768px;
    position: absolute;
    height: 2000px;
    top: 0; 
    z-index: -1;
    background-color: var(--cream-white);
  }
}

/* media query for Desktop view */
@media screen and (min-width: 1024px)
{
   .background{
    background-color: var(--cream-white);
    width: 94rem;
    height: 99rem;
    position: absolute;
    top: 0px;
  }
   
  .body{
    position: absolute;
    left: 50rem;
  }
  .web-container{
    min-width: 1060px;
    margin-top: 40px;
    margin-left: 7rem;
    height: 96.8rem;
  }

  .desktop{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 10px;
  }
  
  .header-button:hover{
    background-color: var(--dark-blue);
    color: var(--cream-white);
    cursor: pointer;
  }

  .main-header{
    width: 38rem;
    top: 12rem;
  }
  
  .curved-line-1{
    margin-left: 18.5rem;
    width: 275px;
  }

  .business-mission{
    font-size: 72px;
    letter-spacing: -1px;
    line-height: 78px;
    width: 40rem;

  }

  .marketing-sales{
   margin-left: 0px;
   font-size: 1.125rem;
   line-height: 32px;
   letter-spacing: 0.1px;
   width: 22.2rem;
  }

  .marketing-button:hover{
      background: linear-gradient(160deg, 
      var(--violet) 60%,
      var(--orange));
      cursor: pointer;
  }

  .tablet-image-container{
    display: none;
  }

  .desktop-image-container{
    display: block;
  }
  .hero-desktop-image{
    width: 330px;
    height: 550px;
    position: relative;
    right: 165px;
    z-index: -1;
  }

  .business-statistics{
    flex-direction: column;
    margin: 0.4rem;
    justify-content: space-evenly;
    position: relative;
    right: 85px;
    height: 30rem;
    margin-top: 4rem; 
  }

 .figures, .description{
  text-align: left;
 }
  
 .comment-section{
  margin-top: 4rem;
  height: 33.5rem;
 }

  .desktop-comment-2{
  text-align: left;
  height: 250px;
  padding: 4rem 4rem 0 2rem;
  width: 35rem;
  margin-left: 6.2rem;
  margin-top: 5rem;
  }

 .comment-title{
  margin-left: 3.6rem;
 }

  .comment-msg{
    text-align: left;
    padding-left: 0;
  }
  
  .bold-name{
     text-align: left; 
  }
  .commentator-name{
    text-align: left;
    margin-left:  3.5rem;
  }

  .comment-content{
    flex-direction: row;
  }

  .jeremy-image-container{
    top: -1.25rem;
    left: 5.5rem;
    width: 17.5rem;
  }
  
  .pattern-blur{
    width: 26rem; 
  }

  .blur-img{
    opacity: 1;
    position: relative;
    top: 7rem;
    left: 0rem;
  }
   
  .jeremy-img{
    height: 35.7rem;
    position: relative;
    bottom: 1rem;
    left: 2rem;
  }

  .line-2{
    margin-left: 20rem;
    width: 4.01rem;
    position: absolute;
    top: 10rem;
  }

  footer{
    position: relative;
    top: -18rem;
    width: 93.5rem;
    height: 29rem;
    left: -16.4rem;
  }

 .footer-logo{
   margin-bottom: 16rem;
   margin-left: 16.6rem;
 }
 .copy-right{
  margin-right: 0rem;
  margin-bottom: 16rem;
 }
 .social-media{
  margin-bottom: 16rem;
  margin-right: 8.9rem;
 }

 .facebook:hover,.twitter:hover,.instagram:hover{
  opacity: 0.5;
 }
}

