*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* Design colors Global CSS variables */
:root{
    --cream-white: #FAF8F6;
    --orange: #FFA84E;
    --violet: #CB30E3;
    --cream: #F3EDE7;
    --light-blue: #A060FF;
    --dark-blue: #172339;
    --grey: #49566D;
}

 body{
  display: grid;
  place-items: center;
  font-family: 'Epilogue', sans-serif;
 }

 /* .background for mobile view */
 .background
 {
  width: 430px;
  position: absolute;
  height: 2577px;
  top: 0;
  background-color: var(--cream-white);
  z-index: -1;
 }
  
 /* from figma */
.web-container{
  max-width: 375px;   
  margin: 1.5rem 1rem 0rem 1rem;
 
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* styling the header button */
.header-button{
  padding: 0.75rem 1.03rem 0.75rem 0.97rem;
  font-size: 0.875rem;     /*converted 14px in mobile version to rem  */
  color: var(--dark-blue);
  letter-spacing: -0.14px;
  line-height: 1.5rem;
  font-weight: 700;
  border-radius: 0.5rem; 
  background-color: var(--cream-white);
}

main{
  margin-top: 3.63rem;
}

.business-mission{
font-size: 2.375rem;  /* converted 38px to rem */
line-height: 44px;
letter-spacing: -0.528px;
color: var(--dark-blue);
}

.bold-text{
  font-weight: 700;
}

span{
  font-weight: 400;
}

.curved-line-1{
  margin-left: 11.87rem;
  width: 151.47px;
}

.actual-curve{
  width: 100%;
}


.marketing-sales{
font-size: 1rem;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.09px;
text-align: left;
color: var(--dark-blue);
margin: 2rem 0.3rem;
}

/*styling the second button*/
.marketing-button{
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.18px;
  color: var(--cream-white);
  border-radius: 0.5rem;
  background-color: var(--dark-blue);
  padding: 0.94rem 1.94rem 0.88rem 2rem;
}

.hero-image{
  margin: 3.48rem auto;
}
 
/* glow width of image */
.hero-image-container{
 width: 100%;
 height: auto;
}

.tablet-image-container{
 display: none;
}

.desktop-image-container{
 display: none;
}

.business-statistics{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 19rem;
  margin: 3rem auto;
}

.figures{
  font-size: 48px;
  font-weight: 700;
  line-height: 56px; 
}

.description{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.5px;
  color: var(--grey);
  text-transform: uppercase;
  
}

.space{
  height: 11rem;
}

.comment{
position: relative;
background-color: var(--dark-blue);
color: var(--cream-white);
border-radius: 0.5rem;

}

.comment-content{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.jeremy-image-container{
  width: 65%;
  position: absolute;
  left: 4.5rem;
  top: -8rem;
}

.pattern-blur{
 margin:  0 auto;
 width: 70%;
 text-align: center;
 margin-bottom: 1rem;
}

.curved-line-2{
 width: 15%;
 margin-bottom: 2rem;
}

.desktop-comment-2{
 text-align: center;
}

.comment-title{
font-size: 32px;
letter-spacing: -0.2px;
}

.comment-msg{
 margin-bottom: 2rem;
 font-size: 18px;
 line-height: 35px;
 margin: 2rem auto;
 text-align: center;
 padding-inline: 1.5rem;
}

.commentator-name{
  margin-bottom: 3rem;
  text-align: center;
  line-height: 32px;
}

.bold-name{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}
.address{
  text-transform: uppercase;
  font-weight: 400;
}

footer{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 padding: 4rem;
 height: 17rem;
 background-color: var(--cream);
 color: var(--dark-blue);
}

.footer-logo{
  width: 30%;
}

.copy-right{
 text-transform: capitalize;
 color: var(--grey);
}
 
.social-media ul{
  width: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.facebook:hover,.twitter:hover, .instagram:hover{
  opacity: 0.5;

}
/* media query for tablet view */
@media screen and (min-width: 600px)
{
  .web-container{
    min-width: 600px;
    margin-bottom: 0;
}
  button{
    padding: 1.2rem 1.8rem;
  }
  .tablet{
    display: flex;
    margin: 0 auto;
    align-items: center;
  }
  .business-profile{
    height: min-content;
    position: relative;
    top: 4rem;
  }
  .main-header{
    position: absolute;
    width: 31rem;
    top: -8.5rem;
  }

  .curved-line-1{
    margin-left: 11.5rem;
    width: 180px;
  }

  .business-mission{
    font-size: 48px;
  }
  .hero-mobile-image{
    display: none;
  }
  .tablet-image-container{
    display: block;
    width: 16rem;
  }
  .business-statistics{
    height: auto;
    flex-direction: row;
    justify-content: space-around;
  }
  .space{
    margin-top: 90px;
  }
  .jeremy-image-container{
    width: 54%;
    left: 8rem;
  }
  .comment-title{
    font-size: 40px;
  }
  footer{
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    height: 12rem;
  }
  .footer-logo{
    width: 85px;
  }

  .background{
    width: 900px;
    position: absolute;
    height: 2060px;
    top: 0; 
    z-index: -1;
    background-color: var(--cream-white);
  }
}

/* media query for Desktop view */
@media screen and (min-width: 1024px)
{

   /* check again from figma  */
   .background{
    background-color: var(--cream-white);
    width: 1440px;
    height: 1502px;
    position: absolute;
    top: 0px;


  }

  .web-container{
    min-width: 900px;
  }
 
  .header-button:hover{
    background-color: var(--dark-blue);
    color: var(--cream-white);
  }

  .desktop{
    display: flex;
    justify-content: space-between;
  }

  .main-header{
    width: 38rem;
    top: 12rem;
  }
  
  .curved-line-1{
    margin-left: 17rem;
    width: 275px;
  }

  .business-mission{
    font-size: 72px;
  }
  

  .tablet-image-container{
    width: 20rem;

  }

  .business-statistics{
    flex-direction: column;
    margin: 0.4rem;
    justify-content: space-evenly;
  }

  .space{
    height: 2rem;
  }

  .desktop-comment-2{
  text-align: left;
  height: 430px;
  padding: 4rem 4rem 0 2rem;
  }

  .comment-msg{
    text-align: left;
    padding-left: 0;
  }

  .commentator-name{
    text-align: left;
  }

  .comment-content{
    flex-direction: row;
  }

  .jeremy-image-container{
    top: -1.25rem;
    left: 5.5rem;
    width: 17.5rem;
  }
  
  .pattern-blur{
    width: 26rem;
    padding: 3rem;
    padding-left: 3rem;
  }

}


